/Software/netcore/src/Kit.Dal/bin
/Software/netcore/src/Kit.Dal/obj
/Software/netcore/src/Kit.Kernel/bin
/Software/netcore/src/Kit.Kernel/obj
/Software/netcore/src/Kit.Kernel.Web/bin
/Software/netcore/src/Kit.Kernel/Web/obj